.container {
    margin-top: 50px;
    text-align: center;
}

.title {
    font-size: 32px;
    margin-bottom: 20px;
}

.input {
    padding: 5px 20px; 
    width: 190px;
    font-size: 16px;
    border: 1px solid black;
    /* Remove arrow spinners */
    -moz-appearance: textfield;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.button {
    padding: 5px 10px;
    font-size: 16px;
    background-color: black;
    color: white;
    border: 1px solid black;
    cursor: pointer;
}

.button:hover {
    background-color: darkgray;
}

.result {
    margin-top: 20px;
    padding: 10px;
    background-color: #f8d7da;
    color: black;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
}
